<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
<body>
  	
  	<header th:insert="fragments/menu :: menu-principal"></header>

	<h1> Detalle de oferta de trabajos</h1>
		
	<ul >
		<li  th:text="'ID: '+${detalle.id} "></li>
		<li  th:text="'Nombre: '+${detalle.nombre}"></li>
		<li  th:text="'Descr: '+${detalle.descr}"></li>
		<li  th:text="'Salario: '+${detalle.salario}"></li>
		<li th:text="'Fecha: '+${detalle.fecha}"></li>
	</ul>
	
	<h2>Muestra de boolean</h2>
	<ol th:if="${detalle.activo != true}">
		<li th:text="'Nombre: '+${detalle.nombre}"> </li>
		<li th:text="'Descr: '+${detalle.descr}"></li>
		<li th:text="'Salario: '+${detalle.salario}"></li>
		<li th:text="'Fecha: '+${detalle.fecha}"></li>
	</ol>
	
	<ol th:unless="${detalle.activo != true}">
		<li th:text="'Nombre: '+${detalle.nombre}"> </li>
	</ol>
	
	
	 <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	 
</body>
</html>